@font-face {
    font-family: "Lato";
    src: local("Lato"),
     url(../fonts/Lato-Regular.ttf) format("truetype");
  }
  @font-face {
    font-family: "Roboto";
    src: local("Roboto"),
     url(../fonts/Roboto-Regular.ttf) format("truetype");
  }
  @font-face {
    font-family: "P052";
    src: local("P052"),
     url(../fonts/p052-roman.ttf) format("truetype");
  }