$gold: #C6AF66;
$black: #18191B;
$black2: #27282A;
$platinum: #E9EAEC;
$grey: #424343;
$light-grey: #F7F7F8;
$dark-text: #63636F;
$ver-203 :#ACADA5;
$radio: #DADADA;



@mixin width($w) {
    width: #{calc($w /19.2)}vw;
}
@mixin width-height($w, $h) {
    width: $w;
    height: $h;
}
@mixin w-h($w, $h) {
    width: #{calc($w / 19.2)}vw;
    height: #{calc($h / 19.2)}vw;
}
@mixin margin-t($v) {
    margin-top: #{calc($v / 19.2)}vw;
}
@mixin margin-b($v) {
    margin-bottom: #{calc($v / 19.2)}vw;
}
@mixin margin-r($v) {
    margin-right: #{calc($v / 19.2)}vw;
}
@mixin margin-l($v) {
    margin-left: #{calc($v / 19.2)}vw;
}
@mixin margin($t, $r, $b, $l) {
    margin: #{calc($t / 19.2)}vw #{calc($r / 19.2)}vw #{calc($b / 19.2)}vw #{calc($l / 19.2)}vw;
}
@mixin margin-c($up, $side) {
    margin: #{calc($up / 19.2)}vw #{calc($side / 19.2)}vw
}
@mixin margin-all($v) {
    margin: #{calc($v / 19.2)}vw
}
@mixin font-size($px) {
    font-size: #{calc($px / 16)}rem;
}
@mixin margin-x($left, $rigth) {
    margin: 0 #{calc($right / 19.2)}vw 0 #{calc($left / 19.2)}vw
}
@mixin margin-y($top, $bottom) {
    margin: #{calc($top / 19.2)}vw 0 #{calc($bottom / 19.2)}vw 0
}
@mixin height($v) {
    height: #{calc($v / 3.6)}vw;
}
%price-wrapper {
    display: flex;
    justify-content: space-between;
}
@mixin tablet-w-h($w, $h) {
    width: #{calc($w / 9.6)}vw;
    height: #{calc($h / 9.6)}vw;
}
@mixin tablet-w($w) {
    width: #{calc($w / 9.6)}vw;
}
@mixin tablet-h($h) {
    height: #{calc($h / 9.6)}vw;
}


@mixin next-template() {
    width: 40.8%;
    font-size: 15px;
    height: 14.4vw;
    line-height: 100%;
    border-radius: 4px;
    padding: 0 17.7vw 0 7.2vw;
    margin-right: 0;
    padding-right: 34px;
    display: flex;
    align-items: center;
}
@mixin next-template-after() {
    height: 6.66vw;
    width: 6vw;
    z-index: 2;
    top: 3.8vw;
    left: calc(100% - 10vw);
}

